<!-- index.njk -->
{% extends "layout.njk" %}
<meta http-equiv="refresh" content="10; url='https://webnero.electronero.org'" />
{% block content %}

    <div class="container">
        <div id="login-container" class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-etnx">
                    <div class="panel-heading" style="text-align: center">
                        {% for coin in coins %}
                            <img height="40px" width="40px" src="../img/{{coin}}.png" />
                        {% endfor %}
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-success">
                            <h2>Wallet Created</h2>
                            <p>Check your email to enable your Electronero Passport Protocol account. <p>Please follow <a href="https://webnero.electronero.org">this link</a>.</p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}