
 <div id="success_tic" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <a class="close" href="#" data-dismiss="modal">&times;</a>
      <div class="page-body">
    <div class="head">  
      <h3 style="margin-top:5px;">Electronero Passport Protocol</h3>
      <h4>Webnero Transaction</h4>
      </br>
      </br>
      <p>Amount: <span id="webnero_transaction_amount" class="webnero_tx_amount"></span>
      <p>Network Fee: <span id="webnero_transaction_fee" class="webnero_tx_fee"></span>
      </br>TXID: <span id="webnero_transaction_id" class="webnero_tx_id"></span>
      </br>TX Key: <span id="webnero_transaction_key" class="webnero_tx_key"></span>
      </br></p>
    </div>

  <h1 style="text-align:center;"><div class="checkmark-circle">
  <div class="background"></div>
  <div class="checkmark draw"></div>
</div><h1>

  </div>
</div>
    </div>

  </div>
  
  
 <div id="fail_tic" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <a class="close" href="#" data-dismiss="modal">&times;</a>
      <div class="page-body-red">
    <div class="head-red">  
      <h3 style="margin-top:5px;">Electronero Passport Protocol</h3>
      <h4>Warning</h4>
      </br>
      </br>
      <p><span id="webnero_transaction_error" class="webnero_tx_error"></span>
      </br></p>
    </div>

  <h1 style="text-align:center;"><div class="checkmark-red-circle">
  <div class="background-red"></div>
  <div class="x-red"></div>
</div><h1>

  </div>
</div>
    </div>

  </div>
